#OS junk files
[Tt]humbs.db
*.DS_Store

#Project 1 files/folders
DDFramework1/*
!DDFramework1/pom.xml
!DDFramework1/src/test/java/base
!DDFramework1/src/test/java/listeners
!DDFramework1/src/test/java/testcases
!DDFramework1/resources

#Project 2 files/folders
#PageObjectModelFramework1/**/*
#!PageObjectModelFramework1/pom.xml
#!PageObjectModelFramework1/src/main/java/**/*
#!PageObjectModelFramework1/src/test/java/**/*
#!PageObjectModelFramework1/src/test/java/base
#!PageObjectModelFramework1/src/test/java/listeners
#!PageObjectModelFramework1/src/test/java/testcases
#!PageObjectModelFramework1/resources
#PageObjectModelFramework1/src/main
#PageObjectModelFramework1/src/test
PageObjectModelFramework1/target
PageObjectModelFramework1/test-output
PageObjectModelFramework1/.settings
PageObjectModelFramework1/.classpath
PageObjectModelFramework1/.project
!**/src/main/java
!**/src/test/java


# Office Temp Files
~$*