<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Page Object Model">

	<listeners>
		<listener class-name="listeners.TestListener"></listener>
	</listeners>

	<test name="Customers Page Test">
		<classes>
			<class name="testcases.CustomersTest" />
		</classes>
	</test>

</suite> <!-- Suite -->
